---
// src/components/Footer.astro
---
<footer class="footer">
  <div class="footer-grid">
    <div class="footer-col">
      <h3>Deportes</h3>
      <a href="/futbol/">Fútbol</a>
      <a href="/mlb/">MLB</a>
      <a href="/beisbol/">Béisbol</a>
      <a href="/nba/">NBA</a>
      <a href="/nhl/">NHL</a>
      <a href="/motogp/">MotoGP</a>
    </div>
    <div class="footer-col">
      <h3>Ligas</h3>
      <a href="/champions-league/">Champions League</a>
      <a href="/liga-mx/">Liga MX</a>
      <a href="/laliga/">La Liga</a>
      <a href="/copa-libertadores/">Copa Libertadores</a>
      <a href="/copa-sudamericana/">Copa Sudamericana</a>
    </div>
    <div class="footer-col">
      <h3>Marcas</h3>
      <a href="/tarjeta-roja/">Tarjeta Roja TV</a>
      <a href="/pirlo-tv/">Pirlo TV</a>
      <a href="/roja-directa-pirlo-tv/">Roja Directa Pirlo TV</a>
    </div>
  </div>
</footer>
